/*================================================
[  Table of contents  ]
================================================

1. Header Area

2. Nav menu

3. Contact Page

4. Breadcump Area

5. Restaurant Blog Area

6. Comment Area

7. Footer Area

8. Footer-Area V2

9. Home section V2

10. Responsive css code

/*======================================
[ End table content ]
======================================*/

.social-left-fixed {
    left: 0;
    position: fixed;
    top: 30%;
    text-align: center;
}

.social-left-fixed>a {
    display: block;
    padding: 6px 0;
}

.social-left-fixed i.fa {
    border-radius: 50%;
    color: #f2d222;
    height: 30px;
    width: 30px;
    line-height: 32px;
}

.content-padding {
    padding: 12px 10px 0;
}

.search-form .screen-reader-text {
    display: none;
}

.site-header {
    background-color: #fff;
    padding: 12px;
    margin-top: 30px;
    border-radius: 5px 5px 0 0;
    position: relative;
}

.header-image img {
    width: 100%;
}

.header-top-left {
    margin-top: 0;
    margin-bottom: 0;
    padding: 15px;
    background-color: #999;
}


.header-top-social {
    float: right;
    text-align: center;
}

.header-top-left i.fa {
    border-radius: 50%;
    height: 30px;
    line-height: 30px;
    width: 30px;
    color: #F2D222
}

.header-top-social>a {
    margin-left: 8px;
}

.site-title {
    font-size: 20px;
    line-height: 36px;
    margin-top: 0;
    margin-bottom: 0;
}

.custom-middle-option {
    padding: 30px 10px;
}

.site-title a {
    color: #000;
}

.site-title strong {
    font-size: 24px;
}

.logo-right-text>h1 {
    text-transform: uppercase;
}

.logo-right-text h1 {
    line-height: 117px;
    vertical-align: middle;
}

.after-header {
    font-size: 20px;
}

.after-header {
    border-bottom: 3px solid #eee;
    margin-top: -6px;
    padding: 12px;
    text-align: right;
}

.marquee-label,
.marquee-post {
    font-weight: bold;
    padding: 10px;
    float: left;
}


/* Navbar Menu */

.navbar {
    padding: 0;
}

.header-menu {
    background: #212121 none repeat scroll 0 0;
}


.header-menu ul li a {
    color: #ffffff;
    display: block;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    padding: 15px 12px !important;
    text-align: center;
    text-transform: uppercase;
    transition: none 0s ease 0s;
}

.header-menu ul li a:hover {
    background: #0b9;
    color: #fff;
}

.header-menu ul li.active a {
    background: #0b9;
    color: #fff;
}

.header-menu ul li ul {
    padding: 0;

}

.header-menu ul li ul li {
    background: #000;

}

.header-menu ul li ul.dropdown-menu {
    margin: 0;
    border: none;
}

.header-menu ul li ul li a {
    color: #fff;
}

.header-menu ul li ul li a:hover {
    background: #0b9;
    color: #fff;
}

/* widget area css */


.left-sidebar .widget,
.right-sidebar .widget {
    background-color: #fff;
    border: 1px solid #e5e6e9;
    margin-bottom: 8px;
    padding: 8px;
}


.widget .widget-title {
    border-bottom: 1px solid #dddfe2;
    color: #333;
    font-size: 14px;
    font-weight: bold;
    line-height: 26px;
    margin-bottom: 8px;
    padding: 8px 0;
    text-transform: uppercase;
}

.widget_search .widget-title {
    border-bottom-width: 0;
}

.widget ul {
    margin-left: 0;
    padding-left: 0;
}


.widget li {
    border-bottom: 1px solid #f3f3f3;
    list-style: outside none none;
    padding-bottom: 5px;
    padding-top: 5px;
}


.widget ul li a,
.widget ul li a:visited,
.widget ul li a:active {
    color: #0b9;
}


body,
input,
textarea {
    color: #666;
    font-size: 16px;
    line-height: 22px;
}

input {
    border: 1px solid #dcdcdc;
    box-shadow: none;
    display: block;
    font-family: sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 10px;
    transition: box-shadow 0.3s ease 0s, border 0.3s ease 0s;
    width: 100%;
}

input[type="text"]:focus {
    border: 1px solid #707070;
    box-shadow: 0 0 5px 1px #969696;
    outline: medium none;
}

input[type="submit"] {
    background: #0b9 none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 10px;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background: #29b none repeat scroll 0 0;
    cursor: pointer;
}

#searchsubmit {
    margin-top: 10px;
}

/* archive page css */

.archive-content {
    background: #e9ebee none repeat scroll 0 0;
}

.archive-content article {
    margin-bottom: 8px;
    background-color: #fff;
    border-color: #0b9 #e5e6e9;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 4px 1px;
}

.archive-content article .article-page-content {
    padding: 8px;
}


.archive-content article .entry-header h2 {
    color: #0b9;
    font-size: 22px;
    font-weight: bold;
    line-height: 30px;
    margin: 8px 0;
}

.archive-content article .read-more-btn p {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 10px;
    text-align: justify;
}

.archive-content article .blog-bexed-btn {
    float: right;
}

.archive-content article .entry-meta span {
    border: 3px solid #f5f5f5;
    border-radius: 30px;
    box-sizing: border-box;
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    height: 35px;
    line-height: 1;
    padding: 7px 12px;
}

.archive-content article .read-more-warp a {
    border: 3px solid #f5f5f5;
    border-radius: 30px;
    box-sizing: border-box;
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    height: 35px;
    line-height: 1;
    padding: 7px 12px;
}

.archive-content article .read-more-warp a.blog-bexed-btn {
    background: #0b9 none repeat scroll 0 0;
    color: #fff;
}

/* Blog page css */

.blog-page-content {
    background: #e9ebee none repeat scroll 0 0;
}

.blog-page-content article {
    margin-bottom: 8px;
    background-color: #fff;
    border-color: #0b9 #e5e6e9;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 4px 1px;
}

blockquote {
    background: #ddd none repeat scroll 0 0;
    border-left: 4px solid #09b;
    padding: 8px;
}

blockquote p {
    margin: 0;
}


.blog-page-content article .article-page-content {
    padding: 8px;
}


.blog-page-content article .entry-header h2 {
    color: #0b9;
    font-size: 22px;
    font-weight: bold;
    line-height: 30px;
    margin: 8px 0;
}

.blog-page-content article .read-more-btn p {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 10px;
    text-align: justify;
}

.blog-page-content article .blog-bexed-btn {
    float: right;
}

.blog-page-content article .entry-meta span {
    border: 3px solid #f5f5f5;
    border-radius: 30px;
    box-sizing: border-box;
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    height: 35px;
    line-height: 1;
    padding: 7px 12px;
}

.blog-page-content article .read-more-warp a {
    border: 3px solid #f5f5f5;
    border-radius: 30px;
    box-sizing: border-box;
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    height: 35px;
    line-height: 1;
    padding: 7px 12px;
}

.blog-page-content article .read-more-warp a.blog-bexed-btn {
    background: #0b9 none repeat scroll 0 0;
    color: #fff;
}

.theme-comment-section h3 {
    font-size: 18px;
}

.theme-comment-section ol.comment-list {
    padding: 5px;

}

.theme-comment-section ol.comment-list li.parent {
    border-left: 5px solid #111;
}

.theme-comment-section ol.comment-list li.even {
    background: #fff none repeat scroll 0 0;
}

.theme-comment-section ol.comment-list li.comment {
    border-bottom: 1px dotted #666;
    padding: 1em;
}

.theme-comment-section ol.comment-list li.comment ol.children {
    list-style: outside none none;
    margin: 1em 0 0;
    text-indent: 0;
    font-size: 11px;
}

.theme-comment-section ol.comment-list li.comment {
    border-bottom: 1px dotted #666;
    padding: 1em;
}

.theme-comment-section ol.comment-list li.odd {
    background: #f6f6f6 none repeat scroll 0 0;
}

.theme-comment-section ol.comment-list li.comment ol.children li.depth-2 {
    border-left: 5px solid #555;
    margin: 0 0 0.25em 0.25em;
}

.pagination {
    clear: both;
    margin: 20px 0;
}

.nav-links {
    background: #fff none repeat scroll 0 0;
    border: 4px solid #ddd;
    padding: 8px 20px;
}


.pagination span.current {
    font-weight: bold;
}

.pagination a:hover,
.pagination span.current {
    background: #0b9 none repeat scroll 0 0;
    border: 3px solid #afafaf;
    color: #fff;
}

.pagination a,
.pagination span {
    padding: 8px 10px;
}

.pagination a,
.pagination span {
    background-color: #fff;
    border: 3px solid #ccc;
    border-radius: 5px;
    color: #0b9;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 10px;
}

/* Page area css */

.page-section-content {
    background: #e9ebee none repeat scroll 0 0;
}

.page-section-content article {
    background-color: #fff;
    border-color: #0b9 #e5e6e9;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 4px 1px;
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
}


.page-section-content .entry-title {
    color: #0b9;
    font-size: 22px;
    font-weight: bold;
    line-height: 30px;
    margin: 8px 0;
}



/* 404 page css */

.page-not-found-content {
    background: #e9ebee;
}


.error-img img {
    width: 100%;
}

/* single-blog-page */
.single-post-content {
    background: #e9ebee;
}

.single-page-post {
    background-color: #fff;
    border-color: #0b9 #e5e6e9;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 4px 1px;
    margin-bottom: 10px;
}

.single-article-content {
    padding: 8px;
}

.comment-form-comment>label {
    display: block;
}

.comment-form-comment textarea {
    width: 100%;
}

.single-article-content .entry-title {
    color: #0b9;
    font-size: 22px;
    font-weight: bold;
    line-height: 30px;
    margin: 8px 0;
}

.single-article-content p {
    margin-bottom: 18px;
}


.single-article-content .comments-area .submit {
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top, #006ad4, #003366) repeat scroll 0 0;
    box-shadow: 0 1px 3px #666666;
    color: #ffffff;
    font-family: Arial;
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
    text-shadow: 1px 1px 3px #666666;
}

.single-article-content .comments-area #submit:hover {
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top, #003366, #006ad4) repeat scroll 0 0;
}

/* Search page css */

.content-none-page {
    background: #e9ebee none repeat scroll 0 0;
}

.content-search-page {
    background: #e9ebee none repeat scroll 0 0;
}

.content-none-page .search-form label {
    display: unset;
}

.content-search-page article {
    margin-bottom: 8px;
    background-color: #fff;
    border-color: #0b9 #e5e6e9;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 4px 1px;
}

.content-search-page article .article-page-content {
    padding: 8px;
}


.content-search-page article .entry-header h2 {
    color: #0b9;
    font-size: 22px;
    font-weight: bold;
    line-height: 30px;
    margin: 8px 0;
}

.content-search-page article .read-more-btn p {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 10px;
    text-align: justify;
}

.content-search-page.content-search-page article .blog-bexed-btn {
    float: right;
}

.content-search-page.content-search-page article .entry-meta span {
    border: 3px solid #f5f5f5;
    border-radius: 30px;
    box-sizing: border-box;
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    height: 35px;
    line-height: 1;
    padding: 7px 12px;
}

.content-search-page article .read-more-warp a {
    border: 3px solid #f5f5f5;
    border-radius: 30px;
    box-sizing: border-box;
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    height: 35px;
    line-height: 1;
    padding: 7px 12px;
}

.content-search-page .page-title {
    background: #ddd none repeat scroll 0 0;
    color: #0b9;
    font-weight: 800;
    padding: 12px;
}

.content-search-page .page-header {
    padding: 9px;
    text-align: center;
    width: 100%;
}

.content-search-page .page-title>span {
    color: #c15b66;
}

.content-search-page article .read-more-warp a.blog-bexed-btn {
    background: #0b9 none repeat scroll 0 0;
    color: #fff;
}

/* Contact form css */

.main-contact-form label {
    width: 100%;
}
.main-contact-form textarea {
    width: 100%;
}


/* footer section css */

.footer-area {
    background-color: #0b9;
    border-radius: 0 0 10px 10px;
    margin-bottom: 30px;
}

.footer-top-ads .widget,
.footer-bottom-ads .widget {
    margin-top: 45px;
}

.footer-copywrite-text {
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;
    color: #fff;
    margin: 10px;
    padding: 10px;
    text-align: center;
}



/* Responsive css code */

@media (min-width: 1024px) and (max-width: 1200px) {}

@media (min-width: 768px) and (max-width: 1023px) {

    .site-title a {
        color: #000;
        font-size: 15px;
    }

    .site-title strong {
        font-size: 18px;
    }

    .logo-right-text h1 {
        font-size: 28px;
        line-height: 81px;
        vertical-align: middle;
    }

    .after-header {
        text-align: left;
    }

    .header-menu ul li a {
        font-size: 12px;
        padding: 15px 8px !important;
    }

}

@media (min-width: 640px) and (max-width: 767px) {

    .header-top-social {
        margin: 10px 0;
        text-align: center;
        float: unset;
    }

    .header-top-left .site-title {
        text-align: center;
    }

    .logo-right-text h1 {
        font-size: 18px;
        font-weight: bold;
        line-height: 93px;
        vertical-align: middle;
    }

    .after-header {
        text-align: left;
    }

    .page-section-content .row .col-md-7 .row {
        padding: 0 15px;
    }

    .navbar .navbar-toggler i.fa {
        color: #fff;
        padding: 9px 0;
    }

    .header-menu {
        background: #0b9 none repeat scroll 0 0;
    }

    .navbar ul.navbar-nav li {
        background: #212121 none repeat scroll 0 0;
    }

}

@media (min-width: 480px) and (max-width: 639px) {
    .header-top-left {
        font-size: 18px;
    }

    .site-title strong {
        font-size: 20px;
        text-align: center;
    }

    .header-top-social {
        margin: 10px 0;
        text-align: center;
        float: unset;
    }



    .logo-right-text h1 {
        font-size: 17px;
        font-weight: bold;
        line-height: 42px;
        vertical-align: middle;
    }

    .after-header {
        font-size: 16px;
        text-align: left;
    }

    .page-section-content .row .col-md-7 .row {
        padding: 0 15px;
    }

    .navbar .navbar-toggler i.fa {
        color: #fff;
        padding: 9px 0;
    }

    .header-menu {
        background: #0b9 none repeat scroll 0 0;
    }

    .navbar ul.navbar-nav li {
        background: #212121 none repeat scroll 0 0;
    }

    .nav-links {
        margin: 0 9px;
    }

}

@media (min-width: 240px) and (max-width: 479px) {



    .site-title strong {
        font-size: 13px;
        text-align: center;
    }

    .site-title {
        font-size: 13px;
        line-height: 20px;
        margin-bottom: 0;
        margin-top: 0;
    }

    .logo-right-text h1 {
        font-size: 12px;
        font-weight: bold;
        line-height: 23px;
        vertical-align: middle;
    }

    .header-top-social {
        margin: 10px 0;
        text-align: center;
        float: unset;
    }

    .after-header {
        font-size: 16px;
        text-align: center;
    }

    .page-section-content .row .col-md-7 .row {
        padding: 0 15px;
    }

    .navbar .navbar-toggler i.fa {
        color: #fff;
        padding: 9px 0;
    }

    .header-menu {
        background: #0b9 none repeat scroll 0 0;
    }

    .navbar ul.navbar-nav li {
        background: #212121 none repeat scroll 0 0;
    }

    .nav-links {
        margin: 0 9px;
    }

}